.App-header {
  padding-top: 0.5rem;
  text-align: center;
  min-width: 100vh;
}


.container-main {
  text-align: center;
  min-height: 80vh;
  min-width: 80vh;
  margin-top: 1rem;
}

.container-button {
  margin-top: 1rem;
  padding: 1rem;
}
.container-table {
  margin-top: 1rem;
  padding: 1rem;
}